# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Local databases and secrets
.env
data/db.json

# IDE / System configurations
.vscode/
.idea/
.DS_Store
Thumbs.db
